@import models.Book
@(books: List[Book])

@main("Books") {
    <h1>Book List</h1>
    <ul>
    @for(book <- books) {
        <li>
            <strong>@book.title</strong> by @book.author - £@book.price
            <a href="@routes.BookController.show(book.id.get)">Show</a>
            <a href="@routes.BookController.edit(book.id.get)">Edit</a>
            <a href="@routes.BookController.destroy(book.id.get)">Delete</a>
        </li>
    }
    </ul>

    <a href="@routes.BookController.create()">Add New Book</a>
}
