@import views.html.helper.CSRF
@(bookForm: Form[Book], id: Int)(implicit request: RequestHeader, messages: Messages)

@main("Edit Book") {
    <h1>Edit Book</h1>

    @helper.form(action = routes.BooksController.update(id)) {
        @CSRF.formField

        <input type="hidden" name="id" value="@bookForm("id").value.getOrElse("")">

        @helper.inputText(bookForm("title"), Symbol("_label") -> "Title")
        @helper.inputText(bookForm("price"), Symbol("_label") -> "Price")
        @helper.inputText(bookForm("author"), Symbol("_label") -> "Author")

        <div>
            <input type="submit" value="Edit Book">
        </div>
    }
}
